@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* import Flowbite Vue styles */
@import "flowbite-vue/index.css";



/* import Flowbite plugin */


body {
    /* background-color: pink; */
}